[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pymongo = "*"
pandas = "*"
keras = "*"
tensorflow = "*"
nltk = "*"
sklearn = "*"
python-dotenv = "*"
tensorflow-cpu = "*"
sentiment-analysis-spanish = "==0.0.2"

[requires]
python_version = "3.7"
